<li class="card mr-4">
    <div class="card-header">
        <a href="{{link}}" class="card-title">{{title}}</a>
    </div>
    <div class="card-body">
        <p class="card-text">{{summary}}</p>
    </div>
</li>
<br>